$size: 25;
$loadingHeight: $size+px;
$loadingWidth: $size+px;
$borderWidth: $size / 10 + px;

$loadingColor: coral;
$checkMarkColor: white;

.action-button {
  color: coral;
  transition: all 0.5s ease-in;
}

.action-button.success {
  background-color: #19988c;
  transition: all 1s ease-in;
}

.action-button-label {
  margin: 0px;
  font-size: 20px;
  opacity: 1;
  transition: font-size 0s ease-in 0.25s,
              opacity 0.3s ease-in 0.25s;
}

.action-button.success .action-button-label {
  opacity: 0;
  font-size: 0px;
  transition: all 1s ease-in;
}

.object-wrapper {
  min-height: $loadingHeight;
  min-width: $loadingWidth;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.object {
  width: $loadingWidth;
  height: $loadingHeight;
  margin: 0 auto;
  position: relative;
  vertical-align: middle;

  &::before,
  &::after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.circle {
  background-color: transparent;
  outline: 1px solid transparent; /* firefox */
  animation: spin 1s infinite linear;
  animation-fill-mode: both;
  transition: all 1s ease-in;
  
  &::before {
    border-radius: 50%;
    border: $borderWidth solid transparent;
    border-top-color: $loadingColor;
    left: 0;
    top: 0;
  }
}

.checkMark {
  background-color: transparent;
  transform: rotate(50deg);
  transition: all 1s ease-in;
  
  &::before,
  &::after {
    border: $borderWidth solid transparent; 
    height: 0;
    width: 0;
  }

  &::before {
    left: 20%;
    bottom: 20%;
    animation: width 0.25s ease-out 0s;
    animation-fill-mode: both;
  }

  &::after {
    bottom: 20%;
    right: 40%;
    animation: height 0.25s ease-in 0.25s;
    animation-fill-mode: both;
  }
}

@keyframes width {
  to {
    width: 40%;
    border-bottom-color: $checkMarkColor;
  }
}

@keyframes height {
  to {
    height: 100%;
    border-right-color: $checkMarkColor;
  }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
