$size: 25;
$loadingHeight: $size+px;
$loadingWidth: $size+px;
$borderWidth: $size / 10 + px;

$loadingColor: coral;
$checkMarkColor: coral;

.animate-object-wrapper {
  min-height: $loadingHeight;
  min-width: $loadingWidth;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.animate-object {
  width: $loadingWidth;
  height: $loadingHeight;
  margin: 0 auto;
  position: relative;
  vertical-align: middle;

  &::before,
  &::after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.animate-circle {
  background-color: transparent;
  outline: 1px solid transparent; /* firefox */
  transition: all 1s ease-in;
  
  &::before {
    border-radius: 50%;
    border: $borderWidth solid transparent;
    border-bottom-color: $loadingColor;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

.animate-circle.animation {
  animation: spin 1s infinite linear;
  animation-fill-mode: both;
}

$animEndLength: 0.2;
$animEnd: $animEndLength + s;
$circleDelay: $animEndLength;
$circleDuration: 0.25;
$circleAnimBeforeDuration: 0.5;
$circleAnimDuration: $circleDuration+s;
$circleAnimAfterDelay: ($circleAnimBeforeDuration + 0.1) + s;

.animate-circle.animationEnd {
  animation: spinEnd $animEnd 1 linear;
  animation-fill-mode: both;

  &::before {
    animation: width $circleAnimBeforeDuration+s ease-out 0.2s;
    animation-fill-mode: both;
  }

  &::after {
    width: 100%;
    height: 0;
    right: 44%;
    bottom: 0;
    border: $borderWidth solid transparent;
    animation: height $circleAnimDuration ease-in 0.5s;
    animation-fill-mode: both;
  }
}

@keyframes width {
  0% {
    border-radius: 50%;
    border: $borderWidth solid transparent;
    border-bottom-color: $loadingColor;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  100% {
    bottom: 0px;
    top: initial;
    left: 4px;
    width: 40%;
    border-bottom-color: $loadingColor;
    border-radius: 0;
  }
}

@keyframes height {
  to {
    height: 80%;
    border-right-color: $loadingColor;
  }
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

@keyframes spinEnd {
  to {
    transform: rotate(50deg);
  }
}
