$size: 25;
$loadingHeight: $size+px;
$loadingWidth: $size+px;
$borderWidth: $size / 10 + px;

$loadingColor: coral;
$checkMarkColor: white;

.action-button {
  color: coral;
  transition: all 0.2s ease-in;
}

.action-button.success {
  background-color: #19988c;
  transition: all 0.5s ease-in;
}

.action-button-label {
  margin: 0px;
  font-size: 20px;
  opacity: 1;
  transition: font-size 0s ease-in 0.25s,
              opacity 0.3s ease-in 0.25s;
}

.action-button.success .action-button-label {
  opacity: 0;
  font-size: 0px;
  transition: all 1s ease-in;
}
