.button {
  border: none;
  background-color: #ccf;
  padding: 10px;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  transition: width 1s ease-in 0.3s;
  color: aliceblue;
  cursor: pointer;
  box-sizing: border-box;
}

.hover {
  background-color: orange;
}