@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes width {
  to {
    width: 40%;
    border-bottom-color: #fff;
  }
}

@keyframes height {
  to {
    height: 100%;
    border-right-color: #fff;
  }
}

.object-wrapper {
  min-height: 1rem;
  min-width: 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
}

.object {
  width: 1rem;
  height: 1rem;
  margin: 0 auto;
  position: relative;
  vertical-align: middle;
}

.object::before,
.object::after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.circle {
  background-color: transparent;
  outline: 1px solid transparent; /* firefox */
  animation: spin 1s infinite linear;
  animation-fill-mode: both;
  transition: all 1s ease-in;
}

.circle::before {
  border-radius: 50%;
  border: 0.2rem solid transparent;
  border-top-color: coral;
  left: 0;
  top: 0;
}

.checkMark {
  background-color: transparent;
  transform: rotate(50deg);
  transition: all 1s ease-in;
  width: 1.3rem;
}

.checkMark::before,
.checkMark::after {
  border: 0.1rem solid transparent; 
  height: 0;
  width: 0;
}

.checkMark::before {
  left: 20%;
  bottom: 20%;
  animation: width 0.25s ease-out 0s;
  animation-fill-mode: both;
}

.checkMark::after {
  bottom: 20%;
  right: 42%;
  animation: height 0.25s ease-in 0.25s;
  animation-fill-mode: both;
}

.success {
  background-color: #19988c;
  transition: all 0.5s ease-in;
}

.label {
  margin: 0px;
  font-size: 1rem;
  opacity: 1;
  transition: font-size 0s ease-in 0.25s,
              opacity 0.3s ease-in 0.25s;
}

.label.success {
  opacity: 0;
  font-size: 0px;
  transition: all 1s ease-in;
}
